* {
    
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E685A2;
    
}

.container {
    display: grid;
    grid-template-rows: 30vh 65vh 5vh;
    grid-template-areas: "h m"
                    "a n"
                    "f f";
    
}
header {
    background-color: #E685A2;
    grid-area: h;
    width: 70rem;
    margin: 0;
}

main {
    background-color: #E685A2;
    grid-area: m;
    margin: 0;
    padding: 82px;
    
}

aside {
    background-color: #E685A2;
    grid-area: a;
    
}



footer {
    grid-area: f;
}

img {
    max-width: 270px;
    max-height: 180%;
}

.logo {
    align-items: initial;
    
}

.h3 {
    justify-content: space-evenly;
}

.services {
    padding: 65px;
    width: 250px;
    gap: 3rem;
    color: rgb(247, 24, 147);
}

.social_media {
    justify-items: center;
    justify-content: center;
}

.social_media .link {
    
    
    justify-content: space-evenly;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

.social_media .link i {
    font-size: 1.35rem;
}

.social_media .link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267d3;
}

#whatsapp {
    background-color: #25d366;
}

.footer_line {
    width: 100%;
    padding: 1.5vh;
    background-color: #f59fdb;
    font-size: 1rem;
    font-weight: 100;
    color: #fa1091;
    text-align: center;
}
